---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			We're definitely going to write somethig here someday
		</p>
		<p>Socials:</p>
		<ul class="list-inside list-disc">
			<li>
				<a 
					class="cactus-link inline-block"
					href="https://ctftime.org/"
					target="_blank"
					rel="noopener noreferrer"
				>
					ctftime
				</a>
			</li>
			<li>
				<a 
					class="cactus-link inline-block"
					href="https://github.com/"
					target="_blank"
					rel="noopener noreferrer"
				>
					github
				</a>
			</li>
		</ul>
		<p>
			Contact us:
			<a
				class="cactus-link inline-block"
				href="mailto:me@es3n.in"
				target="_blank"
				rel="noopener noreferrer"
			>
				me@es3n.in
			</a>
		</p>
	</div>
</PageLayout>
