---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			We're definitely going to write somethig here, not today though
		</p>
		<ul class="list-inside list-disc">
			<li>
				<a 
					class="cactus-link inline-block"
					href="https://ctftime.org/team/242101"
					target="_blank"
					rel="noopener noreferrer"
				>
					CTFtime
				</a>
			</li>
			<li>
				<a 
					class="cactus-link inline-block"
					href="https://github.com/cr3mov"
					target="_blank"
					rel="noopener noreferrer"
				>
					GitHub
				</a>
			</li>
		</ul>

		<p>
			Contacts
		</p>
		<ul class="list-inside list-disc">
			<li>
				<a
					class="cactus-link"
					href="https://t.me/invlpg"
					target="_blank"
					rel="noopener noreferrer"
				>@invlpg</a> in Telegram
			</li>
			<li>
				<a
					class="cactus-link"
					href="https://t.me/merabier"
					target="_blank"
					rel="noopener noreferrer"
				>@merabier</a> in Telegram
			</li>
			<li>
				<a
					class="cactus-link"
				>@not_es3n1n</a> in Discord
			</li>
			<li>
				<a
					class="cactus-link"
				>@merabier</a> in Discord
			</li>
			<li>
				<a
					class="cactus-link"
					href="mailto:me@es3n.in"
					target="_blank"
					rel="noopener noreferrer"
				>me@es3n.in</a>
			</li>
		</ul>
	</div>
</PageLayout>
